.terraform
.terragrunt-cache
.vscode
*.tfstate
*.tfstate.backup
*.out
.terragrunt-cache
.bundle
.ruby-version
terragrunt
.DS_Store
mocks/
.go-version
.*.sw?
.idea
terragrunt.iml
vendor

/Architettura 1/*.tf
/Architettura 2/*.tf
tf-cloud-init